*{
    padding: 0;
    margin: 0;


}

body{
    overflow-x: hidden;
}
a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.menu-icon{
    display: none;
    cursor: pointer;
}
.menu-icon div{
 
 background-color: #fff;
 height: 2px;
 margin-top: 8px;
 width: 32px;
}

nav{
    
    display: flex;
    justify-content: space-around;

   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    align-items: center;
    background-color: rgb(24, 24, 24);
    height: 8vh;
   
}

main{
    background: url(pexels-bri-schneiter-346529.jpg) no-repeat center center;
    background-size: cover;
    height: 92vh;
    
}

.menu-list{
    display: flex;
    list-style: none;
   
    
}

.menu-list li{
    margin-left: 20px;
    letter-spacing: 4px;
    color: white;

    cursor: pointer;
}
.menu-list li:hover{
    color: rgba(255, 255, 255, 0.37);
}

@media (max-width: 800px){

   body{
    transition: 0.5s;
    overflow-x: hidden;
   }
    .menu-list{
        position: absolute;
        top: 8vh;
        right: 0;
        

        width: 50vw;
        height: 92vh;
        background: rgb(24, 24, 24);
        
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
       
        
       
        transform: translateX(100%);
        
        transition: 1s;
       
    }

    .menu-list li{
        margin-left: 0;
        opacity: 1;

    }
    .menu-icon{
        
        display: block;
        
        
    }
}


